@import controllers.AssetsFinder
@import org.webjars.play.WebJarsUtil
@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import views.html.auth.passwordStrength
@import views.html.helper

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

@views.html.main(messages("change.password.title"), Some(user)) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("change.password")</legend>
        @helper.form(action = controllers.routes.ChangePasswordController.submit, Symbol("autocomplete") -> "off") {
            <p class="info">@messages("strong.password.info")</p>
            @helper.CSRF.formField
            @helper.inputPassword(changePasswordForm("current-password"), Symbol("_hint") -> messages("current.password"), Symbol("_placeholder") -> messages("current.password"), Symbol("_class") -> "form-control input-lg")
            @passwordStrength(changePasswordForm("new-password"), Symbol("_hint") -> messages("new.password"), Symbol("_placeholder") -> messages("new.password"), Symbol("_class") -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("change")</button>
                </div>
            </div>
        }
    </fieldset>
}
