<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <!-- Set default log path -->
    <property name="LOG_PATH" value="${application.home:-.}/logs"/>

    <appender name="FILE" class="RollingFileAppender">
        <!-- Use the EBS mount point for log storage -->
        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy class="TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

            <!-- Keep 30 days worth of history -->
            <maxHistory>30</maxHistory>

            <!-- Total size cap for all log files -->
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{pekkoSource}) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{pekkoSource}) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNCSTDOUT" class="AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play" level="ERROR"/>
    <logger name="application" level="INFO"/>

    <logger name="slick.jdbc.JdbcBackend.statement" level="error"/>
    <logger name="slick.jdbc.JdbcBackend.parameter" level="error"/>
    <logger name="models.dal.MyPostgresProfile" level="error"/>

    <!-- Use conditional appender references instead of conditional appender definitions -->
    <root level="INFO">
        <appender-ref ref="ASYNCFILE"/>
        <if condition='!property("play.mode").equals("PROD")'>
            <then>
                <appender-ref ref="ASYNCSTDOUT"/>
            </then>
        </if>
    </root>

</configuration>