@()
<footer>
    <nav class="navbar fixed-bottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <ul class="navbar-nav m-auto">
                <li class="nav-item"><a class="nav-link" href="@controllers.routes.ContactController.show()">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="@controllers.routes.HomeController.terms()">Terms of Use</a></li>
                <li class="nav-item"><a class="nav-link" href="@controllers.routes.HomeController.privacy()">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link" href="@controllers.routes.HomeController.cookieUsage()">Cookie Usage</a></li>
                <li class="nav-item"><a class="nav-link" href="@controllers.routes.HomeController.faq()">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/docs/" hx-boost="false">API Documentation</a></li>
            </ul>
            <span class="navbar-text">Copyright &copy; @java.time.LocalDate.now().getYear, Decoding-Us.com</span>
        </div>
    </nav>
</footer>