@()
<footer>
    <nav class="navbar fixed-bottom navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <ul class="navbar-nav m-auto">
                <li class="nav-item"><a class="nav-link" href="#">Terms of Use</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Cookie Usage</a></li>
            </ul>
            <span class="navbar-text">Copyright &copy; 2025, Decoding-Us.com</span>
        </div>
    </nav>
</footer>