@import play.api.i18n.Messages

@(user: Option[models.User])(implicit messages: Messages)
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Decoding Us</a>
        <button class="navbar-toggler" button="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-togger-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="@controllers.routes.PublicTreeController.yTree">@messages("navbar.ydna-tree")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@controllers.routes.PublicTreeController.mtTree">@messages("navbar.mtdna-tree")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@controllers.routes.AcademicController.papers">@messages("navbar.academic")</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
            @user.map { u =>
            <li class="nav-item">
                <a class="nav-link" href="#">@messages("navbar.home")</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @u.name
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@controllers.routes.UserController.index">@messages("navbar.profile")</a></li>
                    <li><a class="dropdown-item" href="#">@messages("navbar.messages")</a></li>
                    @if(u.loginInfo.providerID == play.silhouette.impl.providers.CredentialsProvider.ID) {
                        <li><a class="dropdown-item" href="@controllers.routes.ChangePasswordController.view">@messages("change.password")</a></li>
                    }
                    <li><a class="dropdown-item" href="@controllers.routes.HomeController.signOut()">@messages("sign.out")</a></li>
                </ul>
            </li>
            }.getOrElse {
                <li class="nav-item">
                    <a class="nav-link" href="@controllers.routes.SignInController.view">@messages("sign.in")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@controllers.routes.SignUpController.view">@messages("sign.up")</a>
                </li>
            }
            </ul>
        </div>
    </div>
</nav>