@()
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Decoding Us</a>
        <button class="navbar-toggler" button="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-togger-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Y-DNA Tree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mitochondrial Tree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Academic References</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>