@import org.webjars.play.WebJarsUtil
@()(implicit webJarsUtil: WebJarsUtil, messages: Messages, request: RequestHeader)

@main(messages("nav.faq")) {
    <main class="container py-4">
        <h1 class="mb-4">@messages("legal.faq.title")</h1>
        @{
            messages.lang.code match {
                case "es" => views.html.content.en.faqText()
                case "fr" => views.html.content.en.faqText()
                case _    => views.html.content.en.faqText()
            }
        }
    </main>
}
