@import play.silhouette.impl.providers.{GoogleTotpCredentials, GoogleTotpInfo}
@import controllers.AssetsFinder
@import forms.TotpSetupForm.Data
@import org.webjars.play.WebJarsUtil
@import play.api.data._
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(user: models.User, userForm: Form[(Option[String], Option[String])], totpInfoOpt: Option[GoogleTotpInfo], totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader, messages: Messages)

@main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@messages("welcome.signed.in")</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(controllers.routes.Assets.versioned("images/silhouette.png").url)" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                @helper.form(action = controllers.routes.UserController.update) {
                    @helper.CSRF.formField
                    @helper.inputText(userForm("first-name"), Symbol("_label") -> messages("first.name"))
                    @helper.inputText(userForm("last-name"), Symbol("_label") -> messages("last.name"))
                    <div class="form-group">
                        <div>
                            <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("change")</button>
                        </div>
                    </div>
                }
                <div class="row">
                    <p class="col-md-6"><strong>@messages("email") :</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
                </div>
            </div>
        </div>
    </div>
}
