@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, messages: Messages)

@main(messages("home.title")) {
    <img src="@routes.Assets.versioned("images/decoding_us_logo_placeholder.png")"
    alt="@messages("home.welcome")" class="img-fluid logo-placeholder">
    <main class="container">
        <h1>@messages("home.welcome")</h1>
        @{
            messages.lang.code match {
                case "es" => views.html.content.en.homeText()
                case "fr" => views.html.content.en.homeText()
                case _    => views.html.content.en.homeText()
            }
        }
    </main>
}
