@import org.webjars.play.WebJarsUtil
@(title: String)(content: Html)(implicit webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        @webJarsUtil.locate("bootstrap", "bootstrap.min.css").css()
        @webJarsUtil.locate("popper.js", "umd/popper.js").script()
        @webJarsUtil.locate("bootstrap", "bootstrap.min.js").script()
        @webJarsUtil.locate("htmx.org", "htmx.js").script()
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body hx-boost="true">
        @_navbar()
        @* And here's where we render the `Html` object containing
        * the page content. *@
        @content

        @_footer()
    </body>
</html>
