@import org.webjars.play.WebJarsUtil
@(title: String)(content: Html)(implicit webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        @webJarsUtil.locate("bootstrap.min.css").css()
        @webJarsUtil.locate("popper.js/2.11.7/umd/popper.js").script()
        @webJarsUtil.locate("bootstrap.min.js").script()
        @webJarsUtil.locate("htmx.js").script()
    </head>
    <body>
        @_navbar()
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

        @_footer()
    </body>
</html>
