@(rootHaplogroup: Option[String], showVerticalTree: Boolean = false)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, request: RequestHeader)

@import controllers.routes.TreeController

@fragments.treeView(
    titleKey = "nav.mtree",
    fragmentCall = TreeController.mTreeFragment,
    fullPageCall = TreeController.mtree,
    rootHaplogroup = rootHaplogroup,
    searchPlaceholder = "e.g. H, U5b...",
    searchInputTitle = "Enter a haplogroup name (e.g. H, U5)",
    showVerticalTree = showVerticalTree
)