@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, messages: Messages)

@main(messages("nav.privacy")) {
    <main class="container">
        <h1>@messages("legal.privacy.title")</h1>
        @{
            messages.lang.code match {
                case "es" => views.html.content.en.privacyPolicyText()
                case "fr" => views.html.content.en.privacyPolicyText()
                case _    => views.html.content.en.privacyPolicyText()
            }
        }
    </main>
}
