@(paginatedPublications: models.api.PaginatedResult[models.api.PublicationWithEnaStudiesAndSampleCount], searchQuery: Option[String])(implicit messages: Messages)

@if(paginatedPublications.items.isEmpty) {
    <div class="alert alert-info" role="alert">
    @searchQuery match {
        case Some(q) => {
            @messages("publication.list.notFound", Html(s"<strong>$q</strong>"))
        }
        case None => {
            @messages("publication.list.empty")
        }
    }
    </div>
} else {
    <div id="publications-list">
    @for(details <- paginatedPublications.items) {
        @publicationDetails(details)
        <hr/>
    }
    </div>

    <div class="mt-2 d-flex justify-content-between align-items-center">
        <div>
            <label for="pageSizePublications">@messages("pagination.itemsPerPage")</label>
            <select class="form-select form-select-sm d-inline-block w-auto" id="pageSizePublications"
            hx-get="@controllers.routes.PublicationController.getAllPublicationsWithDetailsHtml(Some(1), None, searchQuery)"
            hx-target="#publications-container"
            hx-swap="innerHTML"
            hx-trigger="change"
            hx-include="[name='pageSize']"
            name="pageSize">
                <option value="10" @if(paginatedPublications.pageSize == 10) { selected }>10</option>
                <option value="20" @if(paginatedPublications.pageSize == 20) { selected }>20</option>
                <option value="50" @if(paginatedPublications.pageSize == 50) { selected }>50</option>
                <option value="100" @if(paginatedPublications.pageSize == 100) { selected }>100</option>
            </select>
        </div>
        <div>
            <span class="text-muted me-2">@messages("publication.list.total", paginatedPublications.totalItems)</span>
            @views.html.fragments.htmlPagination(
                currentPage = paginatedPublications.currentPage,
                totalPages = paginatedPublications.totalPages,
                pageSize = paginatedPublications.pageSize,
                linkGenerator = (p, ps) => controllers.routes.PublicationController.getAllPublicationsWithDetailsHtml(Some(p), Some(ps), searchQuery)
            )
        </div>
    </div>
}

<script>
        document.addEventListener('DOMContentLoaded', function () {
            const pageSizeSelect = document.getElementById('pageSizePublications');
            if (pageSizeSelect) {
                pageSizeSelect.value = '@paginatedPublications.pageSize';
            }
        });
</script>