@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil)

@main("References") {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@@1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
            .sex-male { color: #0077BB; }
            .sex-female { color: #EE3377; }
            .sex-unknown { color: #777777; }
    </style>
    <main class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="container-fluid">
                <span class="navbar-brand">References</span>
                <div class="navbar-nav ms-auto">
                    <a href="@controllers.routes.BiosampleMapController.mapView()" class="btn btn-primary">
                        <i class="bi bi-geo-alt-fill"></i> View Geographic Distribution
                    </a>
                </div>
            </div>
        </nav>

        <div id="publications-container" hx-get="@controllers.routes.PublicationController.getAllPublicationsWithDetailsHtml(None, None)" hx-trigger="load">
        </div>
    </main>
}