@(rootHaplogroup: Option[String], showVerticalTree: Boolean = false)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, request: RequestHeader)

@import controllers.routes.TreeController

@fragments.treeView(
    titleKey = "nav.ytree",
    fragmentCall = TreeController.yTreeFragment,
    fullPageCall = TreeController.ytree,
    rootHaplogroup = rootHaplogroup,
    searchPlaceholder = "e.g. R-M269, I-M253...",
    searchInputTitle = "Enter a haplogroup name (e.g. R-M269)",
    showVerticalTree = showVerticalTree
)